
header{
    background-color: #FFA725;
    height:60px;
    display:flex;
    align-items: center;
    padding: 0;
    position: fixed;
    width: 100%;
}
.header-container{
    margin: 0;
    padding: 0;
    width: 100%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    
}

.logo-section{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background-color: #464343;
    height:60px;
    width:300px;
    border-bottom: 1px solid white;
}

.logo-image{
    height:50px;
 
}

.profile-notification-wrapper{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin-right:50px;
}
.profile-wrapper{
    display:flex;
    align-items: center;
    margin-left: 40px;
    
}
.profile-image{
    display:inline-block;
    height:40px;
    width:40px;
    border-radius:50%;
   
}
.user-name{
    display:inline-block;
    margin-left:15px;
    font-size: 1rem;
    font-weight: bold;
    color:white;
}
.notification-wrapper{
    display:flex;
    align-items: center;
    margin-left: 40px;
    
}
.notification-image{
    display:inline-block;
    height:35px;
    width:35px;
    border-radius:50%;
}
.notification-image-icon{
    position: relative;
    height:35px;
    width:35px;
    border-radius:50%;
}
.notification-text{
    font-size: 1rem;
    font-weight: bold;
    color:white; 
    margin-left:15px;
}
.notification-count{
    display:flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top:17px;
    right:290px;
    height:15px;
    width:15px;
    background-color: red;
    color:white;
    border-radius:100%;
    font-size: 0.8rem;
    text-align: center;
    font-weight:bold;
   

}