
.production-table-wrapper {
 margin:  40px 80px;
}


.production-table {
    width:100%;
    border-collapse: collapse;
   
    font-family: Arial, sans-serif;
    font-size: 0.9rem;
  
    
  }
  
  .production-table th,
  .production-table td {
    border: 1px solid #D6D6D6;
    padding: 10px 20px;
    text-align: left;
    color:rgb(66, 66, 66);
  }
  
  .production-table th {
    background-color: #EEF1F4;
    font-weight: 700;
    font-size: 0.9rem;
  }
  
  .production-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .production-table tbody tr:hover {
    background-color: #f1f1f1;
  }
  .action-buttons{
   
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    border:none;
    height:100%;
  }
  .edit-btn {
    background-color: #5B913B;
    color: white;
    border: none;
    cursor: pointer;
    width:70px;
    padding:5px 10px;
    border-radius:5px;
    margin-right: 5px;
  }
  
  .delete-btn {
    background-color: #e63946;
    color: white;
    border: none;
    width:70px;
    cursor: pointer;
    padding:5px 10px;
    border-radius:5px;
  }
  
  .edit-btn:hover {
    background-color: #3e6726;
  }
  
  .delete-btn:hover {
    background-color: #c62828;
  }
  

  /* Container to position dropdown */
.dropdown-container {
    position: relative;
    width: 250px; /* Adjust width as needed */
  }
  
  /* Input field styling */
  .search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }

  .production-form{
    margin-top: 60px;
  }

  .production-details-wrapper-container{

   display:flex;
   flex-direction:row;
  margin:10px 40px;
  align-items:center;
 
    
  }

  .production-details-wrapper{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-left:20px;
    text-align: left;
    
  }
  .production-details-wrapper label{
    
    font-weight: 500;
    font-size:0.9rem;
    display:inline-block;
    width:115px;
    margin-left: 20px;

    
  }
 .production-details{
  min-height:35px;
  border: 1px solid #e2e2e2;
  border-radius:5px;
  padding-left: 10px;
  width:200px;
 
 
  
 }
 .suggestions-list-production {

  list-style: none;
  padding: 0;
  margin-left: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 350px;
  background: #fff;
  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.suggestions-list-production li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background 0.3s;
}

.suggestions-list-production li:last-child {
  border-bottom: none;
}

.suggestions-list-production li:hover {
  background: #f1f1f1;
  
}

.production-button{
 height:39px;
 width:170px;
 background-color: #FFA725;
 border:none;
 border-radius:5px;
 color:white;
 font-size:0.8rem;
 font-weight:600;
 cursor:pointer;
 margin:30px 20px;
 display:flex;
 flex-direction:row;
 align-items: center;
 padding:0px 10px;
}

.production-button img{
  height:35px;
  width:33px;
  
 }
.production-history{
  margin: 0 80px;
  padding: 10px 0px;
  color:rgb(74, 74, 77);
  display:flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 2rem;
  font-weight: 700;
  border-radius:10px;
  

}
.production-history-date{
  background-color: #464343;
  height:30px;
  display:flex;
  flex-direction: column;
 justify-content: center;
  align-items: center;
  border-radius:5px;
  color:white;
  font-weight: bold;
  padding: 0px 8px;
  font-size: 0.8rem;
  
}


.add-mode {
  background-color: #FFA725; /* Default color for "Add" mode */
  
}

.update-mode {
  background-color: green; /* Green color for "Update" mode */
  font-size: 0.7rem;
  text-align: left;

}
.update-mode img{
  display:none
}
 


.create-production-title{
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 20px;
  text-align: left;
  padding: 0px;
  margin-top:30px;
  margin-left: 78px;;
  font-weight: bold;
  margin-bottom: 40px;
}
